<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bumperbot">

    <ros2_control name="RobotSystem" type="system">

        <!-- ros2_control Gazebo -->
        <xacro:if value="$(arg is_sim)">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
        </xacro:if>

        <!-- ros2_control Real Robot -->
        <xacro:unless value="$(arg is_sim)">
            <hardware>
                <plugin>alphabot_firmware/AlphabotInterface</plugin>
                <!-- <param name="port">/dev/pico</param> -->
                <param name="port">/dev/ttyACM0</param>
                <param name='wheel_left_joint'>wheel_left_joint</param>
                <param name='wheel_right_joint'>wheel_right_joint</param>
	            <param name='enc_ticks_per_rev'>253</param>
                <param name='loop_rate'>30.0</param>

                <!-- MPU6050 sensor--> 
                <!-- <sensor name='imu_link'>
                    <state_interface name='orientation_x'/>
                    <state_interface name='orientation_y'/>
                    <state_interface name='orientation_z'/>
                    <state_interface name='orientation_w'/>
                    <state_interface name='angular_velocity_x'/>
                    <state_interface name='angular_velocity_y'/>
                    <state_interface name='angular_velocity_z'/>
                    <state_interface name='linear_acceleration_x'/>
                    <state_interface name='linear_acceleration_y'/>
                    <state_interface name='linear_acceleration_z'/>  
                </sensor> -->
            </hardware>

             <!-- MPU6050 sensor--> 
            <!-- <ros2_control name='MPU6050' type='sensor'>
                <hardware>
                    <plugin>alphabot_mpu6050/MPU6050Hardware</plugin>
                    <param name='sensor_name'>mpu6050</param>
                    <param name='frame_id'>imu_link</param>
                </hardware>
                <sensor name='mpu6050'>
                    <state_interface name='orientation.x'/>
                    <state_interface name='orientation.y'/>
                    <state_interface name='orientation.z'/>
                    <state_interface name='orientation.w'/>
                    <state_interface name='angular_velocity.x'/>
                    <state_interface name='angular_velocity.y'/>
                    <state_interface name='angular_velocity.z'/>
                    <state_interface name='linear_acceleration.x'/>
                    <state_interface name='linear_acceleration.y'/>
                    <state_interface name='linear_acceleration.z'/>  
                </sensor>
            </ros2_control> -->

        </xacro:unless>
        
        <!-- ros2_control Common Interfaces -->
        <joint name="wheel_right_joint">
            <command_interface name="velocity">
              <param name="min">-0.35</param>
              <param name="max">0.35</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="wheel_left_joint">
            <command_interface name="velocity">
              <param name="min">-0.35</param>
              <param name="max">0.35</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        
    </ros2_control>

</robot>